/Soen487A2LibraryCore/nbproject/private/
/Soen487A2LibraryCore/build/
/Soen487A2LibraryCore/dist/
/Soen487A2LoanCore/nbproject/private/
/Soen487A2LoanCore/build/
/Soen487A2LoanCore/dist/
/SOEN487A2Member/nbproject/private/
/SOEN487A2Member/build/
/Soen487A2LibraryService/nbproject/private/
/Soen487A2LibraryService/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/test/nbproject/private/
/test2/nbproject/private/
/test/build/
/test/dist/
/tttt/nbproject/private/
/tttt/build/
/tttt/dist/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/Soen687A2LoanService/nbproject/private/
/Soen687A2LoanService/build/
/Soen687A2LoanService/dist/
/Soen487A2LoanSoapService/nbproject/private/
/SOEN487A2Member/dist/
/Soen487A2LoanSoapService/build/
/Soen487A2LoanSoapService/dist/
/JavaApplication20/nbproject/private/
/Soen487A2LibraryService/dist/
/LoanSoapService/nbproject/private/
/UIClient/nbproject/private/
/UIClient/build/
/UIClient/dist/
/WebClient/nbproject/private/
/WebClient/build/
/WebClient/dist/
/JavaApplication30/nbproject/private/
/JavaApplication30/build/
/JavaApplication30/dist/
/ddd/nbproject/private/